.bgcontainer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #1b70f7;
    background-image: url(../images/l1fRJy5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dollarContainer {
    background-image: url(../images/Sdenra1.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}