@charset "UTF-8";
.no-selectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

@font-face {
  font-family: 'Timotheos';
  src: url(../fonts/Timoteo.ttf) format("truetype");
}

@font-face {
  font-family: 'Bilbo';
  src: url(../fonts/Bilbo-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Futura light';
  src: url(../fonts/FuturaLightRegular.otf) format("opentype");
}

.menubutton {
  height: auto;
  width: auto;
}

.menubutton .burgerContainer {
  position: absolute;
  z-index: 7;
  height: auto;
  width: 38px;
  margin-top: 1.4%;
  margin-left: 1.4%;
  padding: 1.7px 1.7px;
  cursor: pointer;
}

.menubutton .burgerContainer .topLine {
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 100%;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.menubutton .burgerContainer .middleLine {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.menubutton .burgerContainer .bottomLine {
  width: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menubutton .burgerContainer > * {
  height: 4px;
  background-color: #a53e45;
}

.menubutton .burgerContainer:hover div.line {
  background-color: #c83f49;
}

.menuContainer {
  position: absolute;
  z-index: 4;
  width: 20%;
  height: 85.5%;
  margin-top: 5%;
  margin-bottom: 6%;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  background-color: #c83f49;
}

.menuContainer::after {
  position: relative;
}

.menuContainer .topBorder {
  height: 2%;
  width: 100%;
  top: 0;
}

.menuContainer .sideBorder {
  right: 0;
  height: 100%;
  width: 3.5%;
}

.menuContainer .bottomBorder {
  bottom: 0;
  width: 100%;
  height: 2%;
}

.menuContainer .menuBorder {
  position: absolute;
  background-color: #ffe2e2;
}

.menuContainer .menuContent {
  margin-top: 3.8%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 96%;
  width: 96.5%;
}

.menuContainer .menuContent .subMenuButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7%;
  border-bottom: .3px inset #6219192d;
}

.menuContainer .menuContent .subMenuButtons .menuButton {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-family: "Bilbo", "Timotheos";
  font-size: 1.223rem;
  opacity: .55;
  letter-spacing: 1.6px;
}

.menuContainer .menuContent .subMenuButtons .menuButton#DolUPS {
  border-left: .3px inset #6219192d;
}

.menuContainer .menuContent .subMenuButtons .menuButton#DolUPS:hover {
  background-color: transparent;
  background-image: radial-gradient(circle at top right, #ffffff5e, transparent, transparent, transparent, transparent);
  opacity: 1;
}

.menuContainer .menuContent .subMenuButtons .menuButton#DolUPS.currentMenu {
  background-image: radial-gradient(circle at top right, #ffffff5e, transparent, transparent, transparent, transparent);
  opacity: 1;
}

.menuContainer .menuContent .subMenuButtons .menuButton#SmoUPS:hover {
  background-color: transparent;
  background-image: radial-gradient(circle at top left, #ffffff5e, transparent, transparent, transparent, transparent);
  opacity: 1;
}

.menuContainer .menuContent .subMenuButtons .menuButton#SmoUPS.currentMenu {
  background-color: transparent;
  background-image: radial-gradient(circle at top left, #ffffff5e, transparent, transparent, transparent, transparent);
  opacity: 1;
}

.menuContainer .menuContent .subMenuButtons .menuButton span {
  line-height: 2em;
  padding-bottom: 5px;
  margin-right: 2px;
}

.menuContainer .menuContent .subMenuButtons .menuButton:hover {
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.menuContainer.showMenu {
  -webkit-transition: -webkit-transform .6s ease-out;
  transition: -webkit-transform .6s ease-out;
  transition: transform .6s ease-out;
  transition: transform .6s ease-out, -webkit-transform .6s ease-out;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.menuContainer.hideMenu {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  -webkit-transform: translateX(-140%);
          transform: translateX(-140%);
}

.productsBox {
  border-top: 3px inset #6219192d;
  height: 94%;
  width: 100%;
}

.productsBox .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 13%;
  border-bottom: .3px inset #6219192d;
}

.productsBox .product img {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.productsBox .product .productInfo {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.productsBox.smoothieProducts {
  display: block;
}

.productsBox.dollarProducts {
  display: none;
}

.bgcontainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #1b70f7;
  background-image: url(../images/l1fRJy5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.dollarContainer {
  background-image: url(../images/Sdenra1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.clickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79.7%;
  height: 100%;
  margin-left: 20.3%;
}

.clickers .grBorder {
  width: 1.6%;
  background-image: url(../images/sugerør.png);
}

.smoothieContainer {
  position: relative;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.smoothieContainer .smoothie {
  position: absolute;
  top: 28%;
  left: 52.5%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 90%;
  width: auto;
}

.smoothieContainer .smoothie img {
  height: 50%;
  max-height: 100%;
}

.smoothieContainer .smoothie img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.12, 1.12);
          transform: scale(1.12, 1.12);
}

.smoothieContainer .infoPanel {
  border-top: 0.5px inset #111111;
  border-bottom: 0.5px inset #111111;
  margin-top: 2.3rem;
  height: 14%;
  background-color: #a53e45;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a53e45), color-stop(#c83f49), color-stop(#c83f49), to(#a53e45));
  background-image: linear-gradient(to bottom, #a53e45, #c83f49, #c83f49, #a53e45);
}

.smoothieContainer .infoPanel .SmoAmount {
  position: relative;
  width: 100%;
  height: 50%;
  margin-left: 7%;
}

.smoothieContainer .infoPanel .SmoAmount span {
  font-family: "Bilbo", "Timotheos";
  color: #ffe3c6;
  font-size: 2rem;
}

.smoothieContainer .infoPanel .SmoAmount .SMOInfo {
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  margin-left: 2%;
}

.smoothieContainer .infoPanel .SmoPS {
  position: relative;
  width: 100%;
  height: 50%;
  margin-left: 7%;
}

.smoothieContainer .infoPanel .SmoPS span {
  top: 50%;
  font-family: "Bilbo", "Timotheos";
  color: #ffe3c6;
  font-size: 2rem;
}

.smoothieContainer .infoPanel .SmoPS .SMOInfo {
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  margin-left: 2%;
}

.dollarContainer {
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.dollarContainer .dollar {
  position: absolute;
  top: 41%;
  left: 52.5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 52%;
  width: auto;
}

.dollarContainer .dollar img {
  height: 50%;
  max-height: 100%;
}

.dollarContainer .dollar img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.164, 1.164);
          transform: scale(1.164, 1.164);
}

.dollarContainer .infoPanel {
  border-top: 0.5px inset #111111;
  border-bottom: 0.5px inset #111111;
  margin-top: 2.3rem;
  height: 14%;
  background-color: #a53e45;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a53e45), color-stop(#c83f49), color-stop(#c83f49), to(#a53e45));
  background-image: linear-gradient(to bottom, #a53e45, #c83f49, #c83f49, #a53e45);
}

.dollarContainer .infoPanel .dollarAmount {
  position: relative;
  width: 100%;
  height: 50%;
  margin-left: 7%;
}

.dollarContainer .infoPanel .dollarAmount span {
  font-family: "Bilbo", "Timotheos";
  color: #ffe3c6;
  font-size: 2rem;
}

.dollarContainer .infoPanel .dollarAmount .DOLInfo {
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  margin-left: 2%;
}

.dollarContainer .infoPanel .DollarPS {
  position: relative;
  width: 100%;
  height: 50%;
  margin-left: 7%;
}

.dollarContainer .infoPanel .DollarPS span {
  top: 50%;
  font-family: "Bilbo", "Timotheos";
  color: #ffe3c6;
  font-size: 2rem;
}

.dollarContainer .infoPanel .DollarPS .DOLInfo {
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  margin-left: 2%;
}

.waveContainer {
  position: absolute;
  width: 100%;
  max-height: 70vh;
  bottom: 0;
  z-index: -1;
}

.waveContainer span {
  display: block;
  width: 100%;
}

.wave {
  background-image: url(../images/waves.png);
  height: 40px;
  background-size: contain;
  opacity: 0.5;
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5000s;
          animation-duration: 5000s;
}

.waveSolid {
  background-color: #ffaec9;
  height: 100%;
  opacity: 0.5;
}

@-webkit-keyframes wave {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 100000px;
  }
}

@keyframes wave {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 100000px;
  }
}

body {
  margin: 0 0 0 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

main .container {
  position: relative;
  width: 100%;
  height: 100%;
}

main .reportContainer {
  position: absolute;
  height: 14%;
  margin-left: 21%;
  width: 79%;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#reporter {
  position: relative;
  padding: 20px 20px 3px 20px;
}

#reporter div {
  font-family: "Futura light", sans-serif;
  letter-spacing: .5px;
  font-weight: 500;
  line-height: 23px;
  -webkit-animation-name: fadeReport;
          animation-name: fadeReport;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

@-webkit-keyframes fadeReport {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  90% {
    opacity: .74;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeReport {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  90% {
    opacity: .74;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */